:root {
    --main-bg: #011627 !important;
    --main-fg: #d6deeb !important;

    --secondary-bg: #021b30 !important;

    --result-link-fg: #5f7e97 !important;
    --result-fg: #d6deeb !important;

    --button-bg: #122d42 !important;

    --special-result-border: #033864 !important;

    --border: #03243d !important;

    --footer-fg: #d6deeb !important;
    --footer-bg: #011627 !important;
}

::-webkit-scrollbar-track {
	background-color: #011627 !important;
}
::-webkit-scrollbar {
	width: 10px !important;
	background-color: #03243d !important;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px !important;
	background-color: #03243d !important;
    border: solid 2.2px #011627 !important;
}