@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --gmx-blue: rgb(26, 136, 247);
    --gmx-search-hover-shadow: 0 1px 6px 0 #171717;
    --gmx-tooltip-shadow: 0px 0px 1.6px rgba(0, 0, 0, 0.006),
    0px 0px 3.6px rgba(0, 0, 0, 0.015),
    0px 0px 6.3px rgba(0, 0, 0, 0.026),
    0px 0px 10px rgba(0, 0, 0, 0.041),
    0px 0px 15.5px rgba(0, 0, 0, 0.059),
    0px 0px 24.1px rgba(0, 0, 0, 0.082),
    0px 0px 40px rgba(0, 0, 0, 0.112),
    0px 0px 80px rgba(0, 0, 0, 0.15);
    --gmx-shadow: 0px 0px 1.9px rgba(0, 0, 0, 0.012),
    0px 0px 4.3px rgba(0, 0, 0, 0.025),
    0px 0px 7.7px rgba(0, 0, 0, 0.04),
    0px 0px 12.8px rgba(0, 0, 0, 0.057),
    0px 0px 21.2px rgba(0, 0, 0, 0.078),
    0px 0px 37px rgba(0, 0, 0, 0.108),
    0px 0px 80px rgba(0, 0, 0, 0.17);
}

html,
body {
    color: var(--main-fg);
    background-color: var(--main-bg);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

input,
button {
    outline: none;
}

button {
    cursor: pointer;
}

p {
    font-size:18px;
    color: var(--result-fg);
}

a,
.text-result-wrapper a:hover {
    text-decoration: none;
}

.text-result-wrapper a:visited h2,
.special-result-container a,
.sub-search-button-wrapper button {
  transition: all .3s;
  color: var(--main-fg);
}
.sub-search-button-wrapper button {
    padding: 6px 11px 6px 11px;
    border-radius: 10px;
}
.special-result-container a:hover {
  color: var(--gmx-blue);
}
.sub-search-button-wrapper button:hover,
.sub-search-button-wrapper .active {
    background: var(--button-bg);
}

a:hover, .text-result-wrapper h2:hover {
    text-decoration: underline;
}

.search-container {
    text-align: center;
    margin-top: 210px;
}

.search-container h1 {
    font-size: 70px;
    
}

.search-container input,
.sub-search-container input {
    width: 500px;
    color: inherit;
    background-color: inherit;
    padding: 10px;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid #5f6368;
    border-radius: 25px;
}

.search-container input:hover,
.search-container input:focus {
    box-shadow: var(--gmx-search-hover-shadow) !important;
    background: var(--button-bg) !important;
}
.sub-search-container input {
    background: var(--button-bg) !important;
}
.sub-search-container input:hover,
.sub-search-container input:focus {
    box-shadow: var(--gmx-search-hover-shadow) !important;
}

.search-button,
.settings-button,
.btn-gmx,
.misc-container select {
    transition: none !important;
    color: inherit !important;
    background-color: var(--button-bg) !important;
    font-size: 14px;
    border: 1px solid var(--button-bg) !important;
    border-radius: 6px !important;
    padding: 10px 10px 10px 10px !important;
}
.settings-button {
    margin: 0 !important;
    color: var(--main-fg) !important;
    padding: 5px 10px 5px 10px !important;
}
.search-button:hover,
.settings-button:hover,
.btn-gmx:hover {
    border: 1px solid var(--button-border-bg) !important;
    cursor: pointer !important;
}

.sub-search-container {
    margin: 2%;
}

.sub-search-container hr {
    margin-top: 35px;
    margin-bottom: 35px;
}

.sub-search-container input {
    margin-bottom: 40px;
    width: 600px;
}

.sub-search-container .logo {
    vertical-align: middle;
    margin-right: 50px;
}

.sub-search-button-wrapper {
    margin-left: 150px;
}

.sub-search-button-wrapper img {
    vertical-align: middle;
    margin-right: 10px;
}

.sub-search-button-wrapper button {
    border: none;
    background-color: inherit;
    font-size: 18px;
    margin-right: 25px;
}

.misc-container {
    text-align: center;
    word-wrap: break-word;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.misc-container button {
    margin-right:10px;
    margin-left:10px;
}

.misc-container a {
    color:inherit;
    text-decoration: underline;
}

.instances-container div {
  text-align: left;
  margin-bottom: 25px;
}

.instances-container input {
    color: inherit;
    background-color: inherit;
    padding: 5px;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid #5f6368;
    border-radius: 5px;
    float: right;
}

.text-result-container,
#time,
.next-page-button-wrapper {
    margin-left: 200px;
}

.text-result-container {
    margin-bottom: 100px;
}

.special-result-container {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--special-result-border);
    width: 500px;
}

.text-result-wrapper {
    max-width: 500px;
    word-wrap: break-word;
    margin-top: 35px;
}

.text-result-wrapper a {
    font-size: 14px;
    color: var(--result-fg);
}

.text-result-wrapper h2 {
    font-size: 20px;
    color: var(--result-link-fg);
    padding-top: 5px;
    margin-top: 1px;
}

.special-result-container a {
    display: flex;
    margin-top: 10px;
    font-size:14px;
}

.special-result-container img {
    display: flex;
    max-width: 60%;
    max-height: 200px;
    padding-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}

.next-page-button-wrapper {
    margin-top:-50px;
    margin-bottom:100px;
}

.next-page-button-wrapper button {
    border:none;
    background-color: inherit;
    color: var(--result-link-fg);
    font-size: 18px;
    margin-right: 8px;
}

.next-page-button-wrapper .page {
    display: inline;
}

.image-result-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    margin-left: 9%;
    margin-right: 9%;
    padding: 0;
    margin-bottom:50px;
}

.image-result-container img {
    border: 2px solid var(--button-bg);
    margin: 10px;
}

.footer-container {
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: var(--footer-bg);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.footer-container a {
    color: var(--footer-fg);
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    transition: all .3s;
}
.footer-container a:hover {
    color: dodgerblue;
}
.settings-theme {
    background: var(--secondary-bg);
    border-radius: 8px;
    padding: 20px;
    flex-basis: 47%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.settings-theme-set {
    padding: 10% 15%;
    width: 70%;
    padding: 15%;
    border-radius: 4px;
    margin: 5px 0;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.settings-theme-set [class^="set-theme__color-"] {
    height: 10px;
    margin: 4px 0;
}
.settings-theme-set [class^="set-theme__color-"] {
    content: "";
    height: 4px;
    overflow: hidden;
    margin: 2px 0;
    border-radius: 4px;
    width: 100%;
}
.settings-theme:hover {
    border: var(--border);
}

.hide {
    display: none;
}

.X {
    color: var(--gmx-blue);
}
.seeders {
    color: #50fa7b;
}
.leechers {
    color: #ff79c6;
}

.tooltip-wrapper + .tooltip-wrapper {
    margin-top: 10px;
}

.tooltip-wrapper {
    width: fit-content;
}

.tooltip-toggle {
    position: relative;
}

.tooltip-toggle::after {
    content: attr(data-tooltip-text);
    white-space: nowrap;
    background-color: var(--tooltip-bg);
    border-radius: 5px;
    color: var(--tooltip-fg);
    position: absolute;
    text-align: center;
    z-index: 555;
    opacity: 0;
    transition: all cubic-bezier(0.17, 0.67, 0.5, 0.71) 100ms;
    pointer-events: none;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 .555555555555556rem;
    box-shadow: var(--gmx-tooltip-shadow);
}

.tooltip-toggle:hover::before, .tooltip-toggle:hover::after {
    opacity: 1;
}

.tooltip-toggle.t-top::before {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
}

.tooltip-toggle.t-top::after {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.tooltip-toggle.t-top:hover::before {
    transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}

.tooltip-toggle.t-top:hover::after {
    transform: translate(-50%, calc(-100% - 10px));
}

.tooltip-toggle.t-left::before {
    top: 25%;
    left: 0;
    transform: translate(0, 0%) rotate(45deg);
}

.tooltip-toggle.t-left::after {
    top: 0;
    left: 0;
}

.tooltip-toggle.t-left:hover::before {
    transform: translate(calc(-100% - 5px)) rotate(45deg);
}

.tooltip-toggle.t-left:hover::after {
    transform: translate(calc(-100% - 10px));
}

.tooltip-toggle.t-right::before {
    top: 25%;
    right: 0;
    transform: translate(0, 0%) rotate(45deg);
}

.tooltip-toggle.t-right::after {
    top: 0;
    right: 0;
}

.tooltip-toggle.t-right:hover::before {
    transform: translate(calc(100% + 5px)) rotate(45deg);
}

.tooltip-toggle.t-right:hover::after {
    transform: translate(calc(100% + 10px));
}

.tooltip-toggle.t-bottom::before {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
}

.tooltip-toggle.t-bottom::after {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.tooltip-toggle.t-bottom:hover::before {
    transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
}

.tooltip-toggle.t-bottom:hover::after {
    transform: translate(-50%, calc(100% + 10px));
}

::-webkit-scrollbar-track {
	background-color: var(--main-bg);
}
::-webkit-scrollbar {
	width: 10px !important;
}
::-webkit-scrollbar-thumb {
    width: 10px !important;
	border-radius: 10px !important;
	background-color: var(--scroll-bar-bg);
    border: solid 2.2px var(--main-bg);
}

.form-check-input {
    background-color: var(--form-check-bg);
    border: none !important;
}

/* mobile view */
@media only screen and (max-width: 900px) {
    .search-container input {
        width: 80%;
    }

    .search-button-wrapper button {
        display: table-row;
        margin: 30px 0px 0px 0px;
        width: 80%;
    }

    .footer-container a {
        margin:10px;
    }

    .sub-search-container {
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }

    .sub-search-container .logo {
        margin-left:auto;
        margin-right:auto;
        display: block;

    }

    .sub-search-container input {
        width: 80%;
        margin-top:30px;
    }

    .sub-search-button-wrapper {
        margin:0;
        padding:0;
        display: flex;
        align-items: baseline;
    }

    .sub-search-button-wrapper img {
        margin:0;
        padding:0;
        margin-bottom:20px;
    }

    .sub-search-button-wrapper button {
        margin-left:auto;
        margin-right:auto;
        padding:0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .special-result-container {
        max-width: 80%;
    }

    .special-result-container img {
        max-width: 80%;
    }

    .misc-container {
        margin-bottom: 200px;
        width: 95%;
    }

    .search-container h1 {
      font-size: 55px;
    }

    .search-container {
        margin-top: 10%;
    }

    .text-result-container,
    #time,
    .next-page-button-wrapper {
        margin-left: 40px;
    }
}
